<!-- <input type="text" [(ngModel)]="imgParent">

<app-img [img]="imgParent" (loaded) = "imgLoaded($event)" *ngIf="showImage"></app-img>
<button type="button" (click) ="toggleImage()">Toogle image</button> -->
<app-nav></app-nav>
<app-products></app-products>

<section class="about" id="about">
    <h3>About project</h3>
    <p>
        This project was created for study purposes based on the Platzi course <a
            href="https://platzi.com/cursos/angular-componentes/obteniendo-datos-una-api/"
            target="_blank"
            >"Angular Course: Components
            and Services".</a> </p>
</section>